/** 
  Curtusy to Force.com REST API documentation site,
  http://www.salesforce.com/us/developer/docs/api_rest/Content/help.css
*/

/*
  BEGIN GENERAL HTML STYLES
*/
body {
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 0.9em;
    margin: 10px auto;
    background-color: #FFF;
	width: 80%;
	min-width: 960px;
}

body.helpNav {
    margin: 0px;
}

table {
    font-size: 100%;
}

div.p p {
    font-size: 100%;
}

div.p, p, div.shortdesc, div.result, div.prereq, div.postreq, div.context, div.example {
    font-size: 90%;
    font-weight: normal;
    margin: 1em 0 0 0;
}

div.shortdesc {
    margin: 1em 0 1em 0;
}

div.prereq {
    margin-top: 0;
}

div.prereq li, div.prereq div.p, div.prereq p.p, div.prereq .note, div.prereq span.ph, div.postreq li, div.postreq div.p, div.postreq p.p, div.postreq .note, div.postreq span.ph, div.example li, div.example div.p, div.example p.p, div.example .note, div.example span.ph, div.result li, div.result div.p, div.result p.p, div.result .note, div.result span.ph, div.context li, div.context div.p, div.context p.p, div.context .note, div.context span.ph, div.shortdesc li, div.shortdesc div.p, div.shortdesc p.p, div.shortdesc .note, div.shortdesc span.ph {
    font-size: 100%;
}

div.context span.ph, div.context p.p, div.context div.p {
    font-size: 100%;
    font-weight: normal;
    margin: 1em 0 0 0;
}

div.section p.p span.ph {
    font-size: 100%;
}

.section > span.ph {
    font-size: 90%;
}

img {
    border: 0;
}

img.image {
    vertical-align: text-bottom;
}

form {
    padding: 0px;
    margin: 0px;
}

pre {
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    font-size: 100%;
    color: #000000;
    background-color: #FAFAFA;
    border: 1px solid #CCC;
    margin-left: 20px;
    margin-top: 20px;
}

div.p pre {
    font-size: 110%;
}
/*
  END GENERAL HTML STYLES
*/

/*
  BEGIN LINK COLOR STYLES
*/
a {
    color: #333;
    text-decoration: underline;
}

a:hover {
    color: #369;
    text-decoration: underline;
}
/*
  END LINK COLOR STYLES
*/

/*
  BEGIN VIDEO STYLES
*/

a.doc_video_link:hover{
    color: #184068;
}

a.doc_video_link  {
    color: #205890;
    font-weight: bold;
    text-decoration: none;
}

span.doc_video_title {
    text-decoration: underline;
}

.doc_video  span.doc_video_length {
    color: #205890;
}

/*
  END VIDEO STYLES
*/

/*
  BEGIN HEADING STYLES
*/
h1, .helpHead1 {
    font-weight: bold;
    font-size: 120%;
    color: #FFF;
    background-color: #737E96;
    padding: .7em 8px;
    margin: 0;
}

h2, .helpHead2 {
    font-weight: bold;
    font-size: 100%;
    color: #51638A;
    line-height: 1.2em;
    padding: 0 0 1px 0;
    margin: 1.2em 0 .3em 0;
    border-bottom: 1px solid #51638A;
}

h2 p, .helpHead2 p {
    margin-top: 0;
    padding-top: 0;
}

h3, .helpHead3 {
    font-weight: bold;
    font-size: 100%;
    color: #51638A;
    margin: .7em 0 .7em 0;
    padding: 0;
}

h4, .helpHead4 {
    font-weight: bold;
    font-size: 90%;
    color: #51638A;
    margin: 0.7em 0 0 0;
    padding: 0;
}

h5, .helpHead5 {
    font-weight: bold;
    font-size: 85%;
    margin: 0.7em 0 0 0;
    padding: 0;
}

.subHead {
    font-size: 90%;
    background-color: #DEEDFF;
    padding: .3em 8px;
}

.subHead p {
    font-size: 100%;
    margin: 0;
    line-height: 1.4em;
}
/*
  END HEADING STYLES
 */

/*
  BEGIN OL / UL STYLES

  Here's where things get messy. Text within <li> tend to become messy, due to the fact that <li> fonts
  are sized smaller. <li>s are typically not within <div>, so they need a seperate percentage. As such, items within <li>s
  need to be accounted for with a larger font. This is why many items such as featureTable or <dl> have a seperate <li> definition

*/

ul, ol {
    margin: 0.5em 0 0.5em 1.5em;
    padding-top: 0;
    padding-left: 0;
}

ol li, ul li, div li {
    font-size: 90%;
    margin-left: 1em;
    line-height: 1.2em;
    padding: 6px 0 0 0;
}

div.p li {
    font-size: 100%;
}

div li li{
    font-size: 100%;
}

ol li {
  list-style-type: decimal;
}

ul ol li, ol ol li {
    list-style-type: lower-alpha;
}

ol ol ol li {
    list-style-type: lower-roman;
}

ol ol ul li {
    list-style-type: square;
}

ul li {
    list-style-type: square;
}

ul ul li {
    list-style-type: circle;
}

ul ul ul li {
    list-style-type: disc;
}

li div.p + * {
    padding-top: 1em;
}

ol li a,
ul li a,
ol li li a,
ul li li a,
ol li a:hover,
ul li a:hover,
ol li li a:hover,
ul li li a:hover {
    text-decoration: underline;
}

li pre {
    font-size: 110%;
}

li div.p, li .p, li p, dd div.p {
    font-size: 100%;
    font-weight: normal;
    padding-top: 1em;
    margin: 0;
}

li .featureTable {
    padding: 10px 0 10px 0;
    margin-left: 0px;
    margin-top: 10px;
}

li .featureTable td {
    font-size: 100%;
}
/*
  END UL / OL STYLES
*/

/*
  BEGIN GLOSSARY STYLES
*/
dl {
    margin: 0.5em 0 0.5em 0;
}

dt, div.p dt {
    margin: 8px 0 0 0;
    font-size: 100%;
    font-weight: bold;
    color: #000000;
}

div dt {
    font-size: 90%;
}

dd {
    margin: 0.5ex 0ex 0ex 2ex;
    font-size: 90%;
}

div.p dd, li dt, li dd {
    font-size: 100%;
}

dd p {
    margin: 0;
    font-size: 100%;
/* fixing dd p difference ? */
}

dd ul {
    margin: 0 0 1em 0em;
}

dd ol {
    margin: 0 0 1em .3em;
}

dd ul li, dd ol li {
 font-size: 100%;
}
/*
  END GLOSSARY STYLES
*/

/*
  BEGIN FIELDSET / NOTES STYLES
*/
legend {
    color: #333;
    font-size: 100%;
    font-weight: bold;
    margin: 0 2px;
}

.noteTitle {
    color: #333;
    font-size: 100%;
    font-weight: bold;
    margin: 0 2px;
}

.note {
    font-size: 90%;
    border: 1px solid #8E9CBD;
    margin: 10px 0 10px 0;
    min-height:75px;
    height:auto !important;
    height:75px; 

}

.note .noteBody {
    margin: 0 8px 8px 10px;
}

div.context .note {
 font-size: 100%;
}

dd fieldset.note {
    font-size: 100%;
}

div.p fieldset.note {
    font-size: 100%;
}

dd div.note {
    font-size: 100%;
}

div.p div.note {
    font-size: 100%;
}


.noteBody p {
    font-size: 100%;
    margin-top: 6px;
}

.noteBody li {
    font-size: 110%;
}

.noteBody li li {
    font-size: 110%;
}

.noteBody div.p {
    font-size: 100%;
}

.noteBody pre {
    margin-left: 40px;
}

li .note, li .note .noteBody  {
    font-size: 100%;
}

.note .noteBody ol {
    margin-left: 57px;
}

.noteBody ul {
    padding-left: 50px;
}

.prereq  .noteBody span.ph, .postreq  .noteBody span.ph  {
   font-size: 100%;
}

/*
  END FIELDSET / NOTES STYLES
*/

/*
  BEGIN PERMTABLE STYLES
*/
.permTable {
    background-color: #F3F3EC;
}

.permTableHeader {
    background-color: #737E96;
    color: #FFFFFF;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    padding: .2em 0;
    border: none;
}

.permRowLeft {
    border-bottom:1px solid #E3DEB8;
    border-right:0px solid #F3F3EC;
    font-weight: bold;
    font-size: 90%;
    line-height:1.2em;
    padding: 0.25em .7em 0 .7em;
    vertical-align: top;
}

.permRowRight {
    border-bottom:1px solid #E3DEB8;
    font-size: 90%;
    line-height: 1.7em;
    padding: 0 .7em 0 .7em;
    text-align: left;
    vertical-align: top;
}

.prereq .permTableHeader, .context .permTableHeader {
    font-size: 111%
}

.prereq  .permRowRight, .context .permRowRight{
    font-size: 100%;
}

.prereq  .permRowLeft, .context .permRowLeft{
    font-size: 100%;
}

.prereq .subHead, .context .subHead {
    font-size: 100%
}

.permRowRight p, .permRowLeft p {
    margin: 0;
    padding: 0 4px 0 4px;
}

.permRowRight p {
    font-size: 100%;
}

.permTableBottom {
    background-color:#F3F3EC;
    border-bottom: 2px solid #737E96;
    line-height: 6px;
}

/*
  END PERMTABLE STYLES
*/

/*
  BEGIN FEATURETABLE STYLES

  Every table that is not a permTable or editionTable is considered a featureTable.

*/

.featureTable {
    margin-top: 10px;
}

.featureTableHeader {
    background-color: #737E96;
    color: #FFFFFF;
    font-size: 95%;
    font-weight: bold;
    text-align: left;
    padding: .2em 6px;
    border: none;
}

dd .featureTableHeader {
    font-size: 105%;
}

.featureTable tbody {
    background-color: #F3F3EC;
}

.featureTable td {
    font-size: 90%;
    vertical-align: top;
    border-bottom: 1px solid #E3DEB8;
}

.featureTable td a {
    padding: 10px 0 10px 0;
    font-size: 100%;
}

.featureTable .note {
    font-size: 100%;
}

.featureTable .note .noteBody {
    font-size: 100%;
}

.featureTable td dd, .featureTable td p, .featureTable td p a, .featureTable td li, .featureTable td ul li ul li,
    div.p .featureTable td,
    dd .featureTable td, dd.ddexpand .featureTable td {
    font-size: 100%;
}

.featureTable td pre {
    font-family: Courier New, Courier, monospace;
    font-weight: normal;
    font-size: 110%;
    margin: 0px;
}

.featureTable td div.p {
    font-size: 100%;
    padding: 0px;
}

.featureTable td div.list_in_table_cell ul li {
    padding: 0px 0px 6px 0px;
}

.featureTable td div.list_in_table_cell ul {
    margin: 0em 0em 0em;
}

.featureTable td div.p ul {
    margin: 0em 0em 1em;
}

/*
  END FEATURETABLE STYLES
*/

/*
  BEGIN SEE ALSO STYLES
*/

.relinfo {
    font-size: 90%;
    color: #51638A;
    font-weight: bold;
    padding-top: 1.5em;
}

.relinfo a {
    color: #333;
    font-weight: normal;
    text-decoration: underline;
}

.relinfo a:hover {
    color: #369;
    text-decoration: underline;
}
/*
  END SEE ALSO STYLES
*/

/* BEGIN FAMILY LINKS */

div.familylinks {
margin-top: 10px;
padding-top: 10px;

}

div.parentlink, div.previouslink, div.nextlink {
padding: 1px 0 3px 0;
}

/* END FAMILY LINKS */

/*
  BEGIN FIELD NAME STYLES
*/
div.p .fieldName, .fieldName, .codeph, .filepath, .sysout, .systemoutput, .parmname {
    font-family: Courier New, Courier, monospace;
    font-weight: normal;
    font-size: 110%;
    color: #000000;
}

/* codeph in a table header */
th.featureTableHeader .fieldName, th.featureTableHeader .codeph, th.featureTableHeader .filepath, th.featureTableHeader .sysout {
    background-color: #737E96;
    font-weight: bold;
    text-align: left;
    border: none;
    font-size: 115%;
    color: #FFFFFF;
}

/* codeph in a title */
.titlecodeph {
    font-family: Courier New, Courier, monospace;
    font-weight: bold;
    font-size: 110%;
    color: #FFFFFF;
}

div.fignone .titlecodeph {
    font-weight: bold;
    color: #000000;
}

.codeph .varname, .codeblock .varname {
    font-weight: bold;
    font-style: italic;
}

input {
    font-size: 80%;
    margin: 1em 0;
}

kbd.userinput {
    font-size: larger;
}
/*
  END FIELD NAME STYLES
*/

/*
  BEGIN INDEX STYLES
*/
.index {
    font-size: 100%;
}

.index a {
    color: #666;
    font-weight: normal;
}

.index a:hover {
    color: #369;
    text-decoration: underline;
    font-weight: normal;
}

.index em {
    font-weight: normal;
}

.rolodex {
    font-size: 100%;
    color: #999;
}

.rolodex a {
    color: #666;
    text-decoration: none;
}

.rolodex a:hover {
    color: #369;
    text-decoration: underline;
}

.index .rolodexLetter {
    font-weight: bold;
    color: #FFF;
    background-color: #737E96;
    padding: .2em .5em;
}
/*
  END INDEX STYLES
*/

/*
  BEGIN FOOTER STYLES
*/
.helpPageFooter {
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px 0px 10px 0px;
    border-top: 1px solid #E8E8E8;
    font-size: 85%;
    text-align: center;
    line-height: 1.5em;
    color: #878585;
    width: 100%;
    margin-top: 20px;
    text-decoration: none;
}

.helpPageFooter a {
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px 0px 10px 0px;
    border-top: 1px solid #E8E8E8;
    font-size: 85%;
    text-align: center;
    line-height: 1.5em;
    color: #878585;
    width: 100%;
    margin-top: 20px;
}
/*
  END FOOTER STYLES
*/

/*
  BEGIN ICON STYLES
*/
span.icon_24x24 {
    padding-right: 24px;
    height: 24px;
    vertical-align: text-bottom;
    display: inline-block;
}

span.icon_20x20 {
    padding-right: 20px;
    height: 20px;
    vertical-align: text-bottom;
    display: inline-block;
}

span.icon_20x15 {
    padding-right: 20px;
    height: 15px;
    vertical-align: text-bottom;
    display: inline-block;
}

span.icon_20x16 {
    padding-right: 20px;
    height: 16px;
    vertical-align: text-bottom;
    display: inline-block;
}

span.icon_16x16 {
    padding-right: 16px;
    height: 16px;
    vertical-align: text-bottom;
    display: inline-block;
}

span.icon_24x18 {
    padding-right: 24px;
    height: 18px;
    vertical-align: text-bottom;
    display: inline-block;
}

span.icon_32x32 {
    padding-right: 32px;
    height: 32px;
    vertical-align: text-bottom;
    display: inline-block;
}

/* Don't add commas to the clips below - they won't work in IE or Eclipse */
img.icon_24x24 {
    clip: rect(0px 24px 24px 0px);
    position:absolute;
}

img.icon_16x16 {
    clip: rect(0px 16px 16px 0px);
    position:absolute;
}

img.icon_32x32 {
    clip: rect(0px 32px 32px 0px);
    position:absolute;
}

img.icon_20x20 {
    clip: rect(0px 20px 20px 0px);
    position:absolute;
}

img.icon_20x15 {
    clip: rect(0px 20px 15px 0px);
    position:absolute;
}

img.icon_20x16 {
    clip: rect(0px 20px 16px 0px);
    position:absolute;
}

img.icon_24x18 {
   clip: rect(0px 24px 18px 0px);
    position:absolute;
}

/* Add formatting for figure captions (title element in DITA XML) */
.fignone {
    font-size:90%;
    font-weight:bold;
    margin:1em 0pt;
}

/* for images on their own line */
.image-block {
    display:block;
    margin:1em 0pt;
}

/*
  END ICON STYLES
*/

/*
  PRETTYPRINT DEFINITIONS
*/

.clipboardBorder { border: 1px solid #00008c; }
.clipboardDashed { border: 1px dashed #00008c; }
div.codeSection { position: relative; }
div.flash_clipboard { position: absolute; right: 400px; top: -20px; display: inline;}

object {
    outline: none;
}

/* APEX CODE, APEX PAGE, AND APEX MIXED DEFINITIONS */
.apex_page span.multilineComment,
.apex_code span.onelineComment, .apex_code span.multilineComment,
.apex_mixed span.onelineComment, .apex_mixed span.multilineComment
{
    color: #5d5d5d;
}

.apex_page span.string, .apex_page span.formula,
.apex_code span.string, .apex_code span.formula,
.apex_mixed span.string, .apex_mixed span.formula
{
    color: #004600;
}

.apex_page span.doctype,
.apex_mixed span.doctype
{
    color: #4d7263;
}

.apex_page span.tag, .apex_page span.vftag,
.apex_code span.statement, .apex_code span.keyword,
.apex_mixed span.tag, .apex_mixed span.vftag, .apex_mixed span.statement, .apex_mixed span.keyword,
.javascript span.event,
.html span.tag,
.xml span.tag
{
    color: #00008c;
}

.apex_page span.attribute,
.apex_mixed span.attribute,
.html span.attribute,
.xml span.attribute
{
    color: #000099;
}

.apex_code span.operator, .apex_code span.delimiter,
.apex_mixed span.operator, .apex_mixed span.delimiter
{
    color: #000000;
}

.action_script span.multilineComment, .action_script span.onelineComment,
.c_sharp span.multilineComment, .c_sharp span.onelineComment, .c_sharp span.annotation,
.html span.multilineComment, .html span.onelineComment,
.javascript span.multilineComment, .javascript span.onelineComment,
.java span.multilineComment, .java span.onelineComment, .java span.annotation,
.vba span.onelineComment
{
    color: #3F7F5F;
}

.action_script span.string,
.c_sharp span.string,
.html span.string,
.javascript span.string,
.java span.string,
.vba span.string, .vba span.delimiter
{
    color: #0000C0;
}

.action_script span.number,
.c_sharp span.hexnumber, .c_sharp span.number,
.html span.hexnumber, .html span.number,
.javascript span.hexnumber, .javascript span.number,
.java span.hexnumber, .java span.number
{
    /* color: #090; unused */
}

.action_script span.keyword,
.c_sharp span.keyword,
.html span.keyword, .html span.dataType,
.javascript span.keyword, .javascript span.dataType,
.java span.keyword,
.vba span.dataType, .vba span.keyword
{
    color: #7F0055;
}

.action_script span.init
{
    color: #FF0000;
}

.action_script span.as_variable
{
    color: #AA7700;
}

.action_script span.as_trace
{
    color: #5d5d5d;
}

/* APP STYLES - IGNORE BEYOND THIS LINE!! */
/* use errorMsg to be consistent with the app, errormsg is there for some portal stuff */
.errorMsg,
.errormsg {
    font-weight: bold;
    font-family: Helvetica,Arial;
    color: #CC0000;
}

/* pertains to upper right corner navigation links */
.helpNav .primaryPalette {
    background-color: #737E96;
    color: white;
}
.btn, .button {
    font-family: 'Verdana', 'Geneva', sans-serif;
    background-image: url("/img/bgButton.gif");
    background-repeat: repeat-x;
    background-position: left top;
    border-right:1px solid #5C5D61;
    border-bottom:1px solid #5C5D61;
    border-top:none;
    border-left:none;
    font-size: 80%;
    color:#FFFFFF;
    padding:1px 3px;
    cursor:pointer;
    font-weight:bold;
    display:inline;
    margin: 5px 4px 4px 5px;
}
.clearingDiv {
    clear: both;
    height:1px;
    margin: 0 0 -1px 0;
    font-size: 0px;
}
/* Tree styles pertain to the CSS links on the left of help pages */
.mTreeSelection {
    background-color:#E8E8E8;
    padding: 0.80em;
    font-size: 85%;
    text-align: left;
}
.mTreeSelection .helpTreeHeading {
    font-weight:bold;
}
.mTreeSelection .treeLine {
    background-color:#333;
    height:1px;
    margin-top: 0.33em;
    margin-bottom: 0.69em;
    font-size:0px;
}
.mTreeSelection h2 {
    display:block;
    margin-top:15px;
    font-weight:bold;
    padding:0.33em 0.33em 0.33em 0.00em;
}
.mTreeSelection .treeIndent {
    margin-left: 2em;
}
.mTreeSelection .setupLeaf,
.mTreeSelection .setupHighlightLeaf {
    padding-bottom: 2px;
}
.mTreeSelection .setupHighlightLeaf {
    background-color:#fff;
    margin-left: 0.5em;
}
.mTreeSelection .setupHighlightLeaf a,
.mTreeSelection .setupHighlightFolder,
.mTreeSelection .setupLeaf a,
.mTreeSelection .setupFolder,
.mTreeSelection .setupSection {
    text-decoration: none;
}
.mTreeSelection .setupLeaf {
    margin-left: 0.5em;
}
.mTreeSelection a:hover {
    text-decoration: underline;
}
.setupFolder {
    line-height: 1.5em;
}
.childContainer {
    margin-left: 1.00em;
}
.setupLeaf a, .setupHightlightLeaf a {
    line-height: 1.35em;
}
/* do not add padding to this section - IE rendering bug */
.setupSection {
    font-weight:bold;
}
.setupImage {
    padding:0.23em 0.33em 0.23em 0.33em;
    cursor:pointer;
}
/* end tree */
.trainingFormatDesc {
    margin: 1em 0;
}
.trainingFormatIcon {
    margin-right: 5px;
}
/*
Beyond the basics styles
*/
.btb {
    border-style: solid;
    border-width: 1px;
    margin: 8px 8px 8px 8px;
    background-color: rgb(187,207,203);
}

.btbtitle {
    background-color: #737E96;
    font-size: 110%;
    font-weight: bold;
    margin: 0;
    padding-left:  2px;
}

.btbBody {
    margin: 0 2px;
}

.btBody div.p, .btBody p {
    font-size: 100%;
}

a {
    color: #333333;
    text-decoration: underline;
}
a:link {
    color: blue;
    text-decoration: underline;
}
a:visited {
    color: purple;
    text-decoration: underline;
}
a:hover {
    color: #336699;
    text-decoration: underline;
}
a:focus {
}
